*.swp
libraries/
*.xls*
.DS_Store
lightsCls2/
toDo.txt
python/serialLog.*
python/__*
python/pickFile*
testingCompile/
pickle*
data.csv*
python/data.csv
serialProcessor.back*
python/data*
python/junk/*
python/serialProcessorSpeak.M*

